@(port: Int,proxies: scala.collection.mutable.Set[String])

<!DOCTYPE html>

<html>
    <head>
        <title>Ports</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="breadcrumbs">
            <a href="@routes.Application.list">all ports</a> &gt; <b>@port</b>
        </div>
        <br/>
        <ul>
            @proxies.map { aProxy =>
               <li>@aProxy</li>
            }
        </ul>
    </body>
</html>
